---
import Bio from "../components/Bio.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About me and this site";
const permalink = `${Astro.site.href}abstract`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="abstract">
  <div class="container">
    <h1>About</h1>
    <Bio />
    <br />
    <br />
    <br />
    <figure class="abstract-image">
      <img src="/assets/dashboard.jpg" alt="Dashboard" width="330" />
      <figcaption>Overview of the dashboard</figcaption>
    </figure>
    <p>
      This is my thesis from Chas Academy 2023 in the subject of web development. <strong
        >Its currently only in Swedish.</strong
      >
      <br />
      <br />
      It's about developing one "developer and admin friendly", modular "Dashboard" focusing on reusability, readability
      and scalability for effective future maintenance and further development.
      <br />
      <br />
      Happy reading!

      <br />

      <iframe
        width="100%"
        height="400"
        src="https://www.youtube.com/embed/7cMaWC7R3VY?start=3"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </p>
  </div>
</BaseLayout>

<style>
  .abstract-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .abstract-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .abstract-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
