<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Maxi</strong>. I'm a webdeveloper and based in Haninge, outside of Stockholm, Sweden.
    You can follow me on <a href="https://www.linkedin.com/in/henrik-berglund-77109614/" target="_blank">Linkedin</a>,
    see some of my work on <a href="https://www.github.com/Hekski" target="_blank">GitHub</a>,
    or read more about me on <a href="https://hekskjipro.netlify.app/" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
